<div class="container">
  <div class="d-flex justify-content-center title">
    <h3>Blog</h3>
  </div>

  <div class="form form-floating mb-3 d-flex align-items-center justify-content-center gap-4 mr-1">
    <button class="btn btn-outline-secondary btnAtt" type="button"><i class="bi bi-search"></i>
    </button>
    <input type="email" class="form-control flex-grow-1" id="floatingInput" placeholder="message">
    <label for="floatingInput">Recherche</label>
    <button class="btn btn-outline-secondary ms-2 btnAtt" type="button"><i class="bi bi-filter"></i>
    </button>
  </div>

  <div class="articles">
    <h5>Derniers articles </h5>
<!--    <p>Paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph</p>-->
    <div class="tags">
    <button class="btn btn-outline-secondary btnTag" style="background: #F9F5FF; color: #6941C6;" >ADD</button>
    <button class="btn btn-outline-secondary btnTag" style="background: #EEF4FF; color: #3538CD;"
    >Digital</button>
    <button class="btn btn-outline-secondary btnTag" style="background: #F2FDF9; color:#098A73">Solution</button>
    </div>
  </div>
  <div class="blogs" routerLink="/blog-details">
    <section class="picture">
      <img src="assets/images/GTX.svg">
    </section>
    <section class="description">
      <h6>Lundi , 1 Juin 2023</h6>
      <h2>Gitex Africa Morocco</h2>
      <p>Sous le Haut Patronage de Sa Majesté le Roi Mohammed VI, le Maroc accueillera la 1ère édition du GITEX Africa Morocco ...</p>
    </section>


  </div>
  <div class="blogs" routerLink="/blog-details">
    <section class="picture">
      <img src="assets/images/idNum.svg">
    </section>
    <section class="description">
      <h6>Mercredi , 25 Juin 2022</h6>
      <h2>Identité Numérique</h2>
      <p>L’Agence de Développement du Digital (ADD), en partenariat avec la Direction Générale de la Sûreté Nationale (DGSN)...</p>
    </section>


  </div>
</div>
