<div class="container">
  <div class="d-flex justify-content-center title">
  </div>


  <br>
<div class="blog-details">
  <div class="blog-card">
    <button class="btn btn-success ms-3 fButton " type="submit">
      Inscription terminées
    </button>
    <div class="details">
      <div class="location">
        <p class="city">Marrakech</p>
        <p class="link" href="https://www.google.com/maps/place/%D8%AC%D9%8A%D8%B7%D9%8A%D9%83%D8%B3+%D8%A5%D9%81%D8%B1%D9%8A%D9%82%D9%8A%D8%A7%E2%80%AD/@31.6209902,-7.9993008,15z/data=!4m6!3m5!1s0xdafefac4a004b0d:0xfcd5f35fc0fa0c8c!8m2!3d31.6209902!4d-7.9993008!16s%2Fg%2F11sd2xqspd?entry=ttu">Obtenez l'itinéraire</p>
      </div>
    <div class="date">
      <p>Mercredi </p>
      <p class="month">Mai 31, 2023 </p>
    </div>
      <p>Commence à 00:00 </p>
      <hr>
      <div class="date">
      <p>Jeudi </p>
      <p class="month">Juin 01, 2023</p>
      </div>
      <p>Fin - 00:00</p>
    </div>
  </div>

  <div class="blog-description">
    <p>Sous le Haut Patronage de Sa Majesté le Roi Mohammed VI, le Maroc accueillera la 1ère édition du GITEX Africa Morocco du 31 Mai au 02 Juin 2023,
      à Marrakech. Cette première édition est organisée par le Dubaï World Trade Center (DWTC), sous l’égide du Ministère de la Transition Numérique et
      de la Réforme de l’Administration (MTNRA) et en partenariat avec l'Agence de Développement du Digital (ADD).</p>
    <br>
    <p>
      GITEX Africa Morocco a pour objectif de (i) promouvoir la dynamique que connaît l’écosystème digital national (ii) mettre en avant les différentes avancées et réalisations innovantes du secteur public et privé (iii) identifier les opportunités d’investissements et de
      partenariats avec les opérateurs technologiques invités à cette grande messe du digital.
    </p>

  </div>
  <div class="last-details">
    <div class="organizer">
      <h6 class="s-title">ORGANISATEUR</h6>
      <p>Dubaï World Trade Center (DWTC) </p>
    </div>
    <div class="organizer">
      <h6 class="s-title">PARTAGER</h6>
      <p>Découvrez ce que les gens voient et disent à propos de cet événement et
        rejoignez la conversation.</p>
    </div>
  </div>
  <div class="last-details">

    <div class="mt-5 contact">
      <img src="assets/images/Facebook.svg">
      <img src="assets/images/Twitter.svg">
      <img src="assets/images/LinkedIn.svg">
      <img src="assets/images/WhatsApp.svg">
      <img src="assets/images/Pintrest.svg">
      <img src="assets/images/mail.svg">
    </div>
  </div>
</div>
</div>
