<div id="demoscrollintoview">
  <div class="prop-container">
    <!-- Center the row and add margin top -->
    <div class="">
      <section class="">
        <div class="">
          <div class="vertical-container">
            <h4>Les Principes</h4>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="container">
    <h2>Les avantages des services mutualisés</h2>
    <p>
      Les services et les applications mutualisés offrent de nombreux avantages
      tels que le partage des coûts, la réutilisation des ressources, la
      standardisation, la scalabilité... <br />Ces principes permettent de
      réduire les coûts, d'éviter la duplication, de favoriser
      l'interopérabilité, de gérer les fluctuations de la demande et de garantir
      la protection des données.
    </p>
  </div>
  <div class="title">
    <div class="petit-titre">EXPLORER</div>
    <div class="grand-titre">Les principes des applications mutualisés</div>
  </div>
  <div class="cont">
    <div class="row">
      <div class="column">
        <div class="card" id="c1">
          <h2>RÉUTILISATION DES RESSOURCES</h2>
          <p>
            Les services et les applications mutualisés permettent de réutiliser
            les mêmes ressources pour plusieurs utilisateurs, ce qui permet
            d'éviter la duplication des efforts et des coûts.
          </p>
        </div>
        <div class="card" id="c2">
          <h2>STANDARDISATION</h2>
          <p>
            Les services et les applications mutualisés sont généralement
            développés selon des normes et des standards communs, ce qui permet
            de faciliter l'interopérabilité et l'intégration avec d'autres
            systèmes et applications.
          </p>
        </div>

        <div class="card" id="c3">
          <h2>SÉCURITÉ</h2>
          <p>
            Les services et les applications mutualisés sont généralement conçus
            avec des niveaux élevés de sécurité pour protéger les informations
            des utilisateurs et garantir la confidentialité et l'intégrité des
            données.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column columnRight">
        <div class="card" id="c4">
          <h2>PARTAGE DES COÛTS</h2>
          <p>
            Les services et les applications mutualisés permettent de partager
            les coûts de développement et d'exploitation entre plusieurs
            utilisateurs, ce qui permet de réduire les coûts pour chacun d'entre
            eux.
          </p>
        </div>

        <div class="card" id="c5">
          <h2>SCALABILITÉ</h2>
          <p>
            Les services et les applications mutualisés sont conçus pour être
            évolutifs et adaptables aux besoins des utilisateurs, ce qui permet
            de gérer efficacement les fluctuations de la demande.
          </p>
        </div>
        <div class="card" id="c6">
          <h2>FLEXIBILITÉ</h2>
          <p>
            Les services et les applications mutualisés sont conçus pour être
            flexibles et adaptables aux besoins des usagers, ce qui permet de
            les utiliser efficacement dans différents contextes et pour
            différents scénarios.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonContainer">
    <!-- Your content here -->
    <button class="button">
      <h6>Decouvrez nos principes <i class="bi bi-arrow-right-short"></i></h6>
    </button>
  </div>
</div>
