<footer class="footer--light">
  <div class="footer-big">
    <div class="d-flex justify-content-between cm-flex gap-5 flex-wrap">
      <div class="d-flex flex-column cm-right gap-5">
        <div class="gap-2">
          <img
            src="../../../assets/images/logo-add.svg"
            alt="add"
            />
        </div>

        <div class="d-flex gap-3 contact-details gap -1">
          <img
            src="../../../assets/images/logo-linkedin.svg"
            alt="LinkedIn"
          />

          <img
            src="../../../assets/images/logo-youtube.svg"
            alt="Youtube"
          />
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="footer-widget">
          <div class="footer-menu">
            <ul>
              <li>
                <a href="#" class="cm-bold">Marketplace</a>
              </li>
              <li>
                <a href="#" class="cm-bold">Tableau de bord</a>
              </li>
              <li>
                <a href="#" class="cm-bold">Connaissance</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="footer-widget">
          <div class="footer-menu">
            <ul>
              <li>
                <a href="#" class="cm-bold">Liens utiles</a>
              </li>
              <li>
                <a href="#" class="cm-bold">Nous rejoindre</a>
              </li>
              <li>
                <a href="#" class="cm-bold">Nous contacter</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="footer-widget">
          <div class="footer-menu p-0">
            <ul>
              <li>
                <a href="#" class="cm-bold">Envoyez-nous un message</a>
              </li>
              <li>
                <a href="#">assistance.egov@add.gov.ma</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="footer-widget">
          <div class="footer-menu">
            <ul>
              <li>
                <a href="#" class="cm-bold">Appelez-nous</a>
              </li>
              <li>
                <a href="#">05 37 56 93 30</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>
              Tous droits réservés {{ actualDate }} <span> | </span
              ><a href="#">Politique de confidentialité</a> <span> | </span
              ><a href="#">Mentions légales</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
