<div id="demoscrollintoview">
  <div class="prop-container">
    <!-- Center the row and add margin top -->
    <div class="align-items-center">
      <section class="">
        <div class="text-container">
          <div class="vertical-container">
            <h4>La Vision</h4>
            <h6>
              L'ADD a mis en place des outils et plateformes numériques afin
              d'assurer l'amélioration des services administratifs.
            </h6>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="container">
    <h2>À propos de notre approche</h2>
    <div class="content">
      <div class="title">Qui ?</div>
      <p>
        L'Agence de Développement du Digital (ADD), créée en vertu de la loi
        N°61.16 publiée au bulletin officiel n°6604 du 14 septembr 2017, est un
        établissement public stratégique doté de la personnalité morale et de
        l'autonomie financière.Placée sous tutelle du Ministère Délégué auprès
        du Chef du Gouvernement Chargé de la Transition Numérique et de la
        Réforme de l'Administration, l'Agence est chargée de mettre en œuvre la
        stratégie de l'Etat en matière de développement du digital et de
        promouvoir la diffusion des outils numériques et le développement de
        leur usage auprès des citoyens.
      </p>
    </div>
    <div class="content">
      <div class="title">Pourquoi?</div>

      <ul>
        <li>
          Proposer au gouvernement les orientations à suivre en matière de
          développement du digital.
        </li>
        <li>
          Procéder, dans le cadre des programmes E-Gov, en coordination avec les
          organismes concernés, à la mise en place des conceptions relatives aux
          projets de l'administration électronique et de développement des
          services publics numériques et garantir leur interopérabilité et leur
          intégration.
        </li>
        <li>
          Assurer la veille dans les domaines du développement du digital.
        </li>
        <li>
          Développer les services publics numériques et garantir leur
          interopérabilité.
        </li>
        <li>
          Mettre en place les normes techniques concernant les produits et les
          services numériques et veiller à leur application.
        </li>
        <li>
          Contribuer à l'encouragement, à l'animation et à l'accompagnement des
          projets et des initiatives numérique développés par les collectives
          territoriales.
        </li>
        <li>
          Contribuer à la promotion et au développement de l'initiative et de
          l'entrepreneuriat.
        </li>
        <li>
          Promouvoir la diffusion des outils numériques et le développement de
          leur usage auprès des citoyens.
        </li>
        <li>Elaborer un rapport annuel sur le développement du digital.</li>
        <li>
          Encourager et inciter à la recherche scientifique appliquée dans le
          domaine du développement du digital.
        </li>
      </ul>
    </div>
  </div>
  <div class="title">
    <div class="grand-titre">Pour Qui ?</div>
  </div>
  <div class="scroller">
    <ul class="scroller__inner">
      <li style="color: #3563e9">Administrations publiques</li>
      <li style="color: #547fff">Citoyens</li>
      <li style="color: #b57bff">Entreprises</li>
      <li style="color: #ff7bca">Startups</li>
      <li style="color: #ffc56f">Associations</li>
    </ul>
  </div>
  <div class="container1">
    <div class="section1">
      <div class="card1">
        <h2>
          NOTRE <br />
          MÉTHODOLOGIE
        </h2>
        <p>
          Notre méthodologie éprouvée et centrée sur la mutualisation des
          solutions et services permet d'optimiser les processus, d'améliorer
          l'efficacité et de fournir des résultats concrets. Confiez-nous votre
          parcours vers la digitalisation complète et bénéficiez d'un
          accompagnement de confiance avec ADD.
        </p>
      </div>
    </div>
    <div class="section2">
      <div class="flex-container">
        <div class="card">
          <div class="number">01</div>
          <h2>Développement de services et solutions</h2>
          <p>
            Nous utilisons une approche rigoureuse et innovante pour développer
            des services et des solutions adaptés aux besoins spécifiques de
            l'administration publique. Nous mettons l'accent sur la recherche
            constante de l'excellence et nous nous engageons à fournir des
            solutions technologiques de pointe.
          </p>
        </div>
        <div class="card">
          <div class="number">02</div>
          <h2>Transformation digitale</h2>
          <p>
            Nous croyons fermement en la mutualisation des services et des
            solutions pour stimuler la transformation digitale. Nos solutions
            modulaires et flexibles sont conçues pour une adoption facile et une
            adaptation aux spécificités de chaque entité administrative. Faites
            équipe avec ADD et bénéficiez d'une transformation digitale
            simplifiée et efficace.
          </p>
        </div>
      </div>
      <div class="card full-width">
        <div class="number" style="color: #5956e9">03</div>
        <h2>Mutualisable</h2>
        <p>
          Notre objectif ultime est d'améliorer l'efficacité, la transparence et
          l'accessibilité des services publics grâce à l'innovation
          technologique. Avec notre méthodologie éprouvée, nous accompagnons les
          administrations publiques dans leur parcours vers la digitalisation
          complète. Ensemble, nous réalisons une transformation digitale
          efficace et impactante.
        </p>
      </div>
    </div>
  </div>
  <div class="buttonContainer1">
    <!-- Your content here -->
    <button class="button" [routerLink]="'/principes'">
      <h6>Decouvrez nos principes <i class="bi bi-arrow-right-short"></i></h6>
    </button>
  </div>
</div>
