<div id="demoscrollintoview">
  <div class="top-card">
    <div class="center-text">
      <span>Événements</span>
    </div>
  </div>

  <div class="d-flex gap-4 content">
    <div class="d-flex flex-column left-side">
      <div class="header">
        <div class="title">
          <span>Derniers articles</span>
        </div>
        <div class="description">
<!--          Paragraph paragraph paragraph paragraph paragraph-->
        </div>
      </div>

      <div class="text-container">
        <i class="bi bi-search"></i>
        <input type="text" id="search-input" placeholder="Search" />
      </div>

      <div class="events">
        <img src="assets/images/calendar-small-icon.svg" alt="" />
        <span>Événements</span>

        <ul class="m-4">
          <li>Tous</li>
          <li>Passés</li>
          <li>À venir</li>
        </ul>
      </div>
    </div>

    <div class="event-cards">
      <div class="card">
        <img src="assets/images/watiqa.svg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Transformation digitale</h5>
          <p class="card-text">
            Accompagnement à la transformation digitale des administrations.
          </p>
          <a href="#" class="btn btn-primary"
            >Souscrire <i class="bi bi-arrow-up-right-circle"></i
          ></a>
        </div>
      </div>
<!--
<!--      <div class="card">-->
<!--        <img src="assets/images/watiqa.svg" class="card-img-top" alt="..." />-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Transformation digitale</h5>-->
<!--          <p class="card-text">-->
<!--            Accompagnement à la transformation digitale des administrations.-->
<!--          </p>-->
<!--          <a href="#" class="btn btn-primary"-->
<!--            >Souscrire <i class="bi bi-arrow-up-right-circle"></i-->
<!--          ></a>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="card">-->
<!--        <img src="assets/images/watiqa.svg" class="card-img-top" alt="..." />-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Transformation digitale</h5>-->
<!--          <p class="card-text">-->
<!--            Accompagnement à la transformation digitale des administrations.-->
<!--          </p>-->
<!--          <a href="#" class="btn btn-primary"-->
<!--            >Souscrire <i class="bi bi-arrow-up-right-circle"></i-->
<!--          ></a>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="card">-->
<!--        <img src="assets/images/watiqa.svg" class="card-img-top" alt="..." />-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Transformation digitale</h5>-->
<!--          <p class="card-text">-->
<!--            Accompagnement à la transformation digitale des administrations.-->
<!--          </p>-->
<!--          <a href="#" class="btn btn-primary"-->
<!--            >Souscrire <i class="bi bi-arrow-up-right-circle"></i-->
<!--          ></a>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
