<section class="cm-parts-wrapper" id="demoscrollintoview">
  <div class="container card cm-first">
    <p>L'Agence de Développement du Digital (ADD)</p>
  </div>

  <div class="container cm-form">
    <div class="card">
      <h2>Bonjour</h2>
      <form class="gap-2 mt-4" [formGroup]="pwdresetForm">
        <label for="password">Nouveau mot de passe</label>

        <div class="form__input">
          <input
            [type]="fieldTextType ? 'text' : 'password'"
            id="password"
            formControlName="password"
            placeholder="Enter your password"
            autocomplete="on"
          />
          <span
            ><i
              class="bi-eye"
              [ngClass]="{
                'bi-eye-slash': !fieldTextType,
                'bi-eye': fieldTextType
              }"
              (click)="toggleFieldTextType()"
            ></i
          ></span>
        </div>

        <label for="confirmpassword">Confirmez votre mot de passe</label>

        <div class="form__input">
          <input
            [type]="repeatFieldTextType ? 'text' : 'password'"
            id="confirmpassword"
            formControlName="confirmpassword"
            placeholder="Enter your password"
            autocomplete="on"
          />
          <span
            ><i
              class="bi-eye"
              [ngClass]="{
                'bi-eye-slash': !repeatFieldTextType,
                'bi-eye': repeatFieldTextType
              }"
              (click)="toggleRepeatFieldTextType()"
            ></i
          ></span>
          <div
            class="error"
            *ngIf="
              pwdresetForm.get('confirmpassword')?.touched &&
              pwdresetForm.get('confirmpassword')?.invalid
            "
          >
            Passwords don't match.
          </div>
        </div>

        <button type="submit" (click)="resetPassword()">Valider</button>
      </form>
    </div>
  </div>
</section>
